@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

body {
    font-family: open sans;
}

a {
    text-decoration: none;
}

.wrapper {
    margin: 16px 45px 64px 45px;
}

.header {
    min-height: 178px;
}

.header-information {
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-areas: "header_contacts header_button";
    /* grid-template-rows: 3fr 2fr; */
    grid-template-rows: 48px;
    align-items: center;
    grid-column-gap: 10px;
    border-bottom: 1px solid #ebebebe7;
}

.information-contacts__telephone {
    margin-left: 40px;
    margin-right: 40px;
    font-size: 12px;
    font-weight: 400;
    color: #151515;
}

.information-contacts__email {
    font-size: 12px;
    font-weight: 400;
    color: #151515;
}

.information-contacts__button {
    font-size: 12px;
    font-weight: 400;
    color: #6A983C;
}

.information-button__butt {
    margin-left: 45px;
    font-size: 12px;
    font-weight: 400;
    color: #6A983C;
}

.header-search {
    display: grid;
    grid-template-columns: 2fr 5fr 2fr;
    grid-template-areas: "header_logo search icon";
    /* grid-template-rows: 3fr 12fr; */
    grid-template-rows: 130px;
    align-items: center;
    grid-column-gap: 10px;
}

.header-information__button {
    justify-self: end;
}

.header-search__search {
    justify-self: center;
}

.input-field {
    width: 500px;
    /* justify-self: center; */
    text-align: center;
    height: 42px;
    border-radius: 12px;
    border: 1px solid #D1D1D1;
    background-image: url(../image/ic-actions-search.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 468px;
    font-size: 14px;
    font-weight: 400;
    background-color: #F9F9F9;
}

.absolut {
    position: absolute;
    margin: 15px 16px 9px 15px;
    font-size: 15px;
    font-weight: 700;
}

.vector {
    margin-left: 12px;
    margin-right: 28px;
}

.header-search__icon {
    display: grid;
    grid-template-columns: 76px 38px;
    justify-self: end;
    /* gap: 38px; */
}

/* .main-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
} */

.navigation {
    display: grid;
    grid-template-columns: .8fr 1.7fr 1.4fr 1fr 1fr 1.5fr 1fr 2.3fr;
    grid-column-gap: 42px;
    background: #F9F9F9;
    height: 55px;
    align-items: center;
    color: #151515;
} 

.navigation__item {
    font-size: 15px;
    font-weight: 500;
    color: #151515;
}